@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
	--theme-font-family-base: 'Fira Code', monospace;
	--theme-font-family-heading: 'Fira Code', monospace;
}
path.catGlasses {
	fill: #f690be;
}
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}
